<div class="container-fluid p-0 justify-content-center mt-2">
  <!--  Description and Image-->
  <div class="row m-auto">
    <div class="col-6">
      <h3 class="text-center">Описание</h3>
      <mat-form-field class="container-fluid">
        <textarea matInput rows="20" [formControl]="categoryDescription"></textarea>
      </mat-form-field>
      <div class="row">
        <button mat-raised-button *ngIf="descriptionChanged" (click)="saveDescription()" class="btn-success btn-lg mx-auto">
          Запази
        </button>
      </div>
    </div>
    <div class="col-6">
      <h3 class="text-center">Снимки на тази категория</h3>
      <div class="row justify-content-around my-2">
        <button mat-raised-button (click)="editImageDialog(true)" class="btn btn-warning btn-lg">Замени</button>
        <button mat-raised-button (click)="editImageDialog(false)" class="btn btn-primary btn-lg">Добави</button>
      </div>
      <app-mdb-carousel *ngIf="category.images" [images]="category.images"></app-mdb-carousel>
    </div>
  </div>
  <!--  DropDowns-->
  <div class="row pt-4 mb-4 mx-auto justify-content-center">
    <div class="col-4 d-flex justify-content-center">
      <mat-form-field class="type">
        <mat-label>Тип</mat-label>
        <mat-select [formControl]="selectedType">
          <mat-option *ngFor="let type of category.types | keyvalue" [value]="type.key">{{ type.key | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <mat-form-field class="series" *ngIf="selectedType.valid">
        <mat-label>Серия</mat-label>
        <mat-select [formControl]="selectedSeries">
          <mat-option *ngFor="let series of category.types[selectedType.value]['series'] | keyvalue" [value]="series.key">{{
            series.key | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <button (click)="emitAdd()" mat-raised-button class="btn btn-primary m-auto">
        Добави Продукт към {{productType | translate}}
      </button>
    </div>
  </div>
  <!--  ProductTable-->
  <app-editable-table
    *ngIf="selectedSeries.valid"
    [type]="productType"
    [set]="selectedSeries.value"
    [collection]="fireService.DATABASE[productType].types[selectedType.value].series[selectedSeries.value].collection"
    (itemUpdate)="emitEdit($event)"
  ></app-editable-table>
</div>
