.img-fluid {
  background-size: cover;
  margin: 0 auto;
  padding: 20px 10px;
}
.carousel-indicators {
  display: none;
}
::ng-deep mdb-carousel-item{
  
  .carousel-caption {
    position: absolute;
    right: 60%;
    left: 15%;
    bottom: 70%;
    width: 450px;
    z-index: 10;
    padding: 20px 60px;
    color: #fff;
    text-align: center;
  }
  
}
