<div *ngIf="isArray(images)">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let image of images">
      <img (contextmenu)="onRightClick($event)" class="d-block w-100 img-fluid" [attr.src]="image" />
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div *ngIf="!isArray(images)" class="container-fluid">
  <mdb-carousel class="carousel slide carousel-fade">
    <mdb-carousel-item>
      <img (contextmenu)="onRightClick($event)"  class="d-block w-100 img-fluid" [attr.src]="images" />
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div id="preloader" *ngIf="images" [hidden]="true" class="preloader hidden disabled">
  <div *ngFor="let image of images">
    <img hidden async type="image" [src]="image" />
  </div>
</div>
