.img-fluid {
  margin: 0 auto;
  //padding: 20px 10px;
  border-radius: 15px;
}

::ng-deep {
  .carousel-indicators,a.carousel-control-next,a.carousel-control-prev{
    filter:drop-shadow(2px 6px 5px black);
    cursor: pointer;
    transform: scale(.5);
  }
}

.carousel-indicators {
  display: none;
}
::ng-deep mdb-carousel-item{
  
  .carousel-caption {
    position: absolute;
    right: 60%;
    left: 15%;
    bottom: 70%;
    width: 450px;
    z-index: 10;
    padding: 20px 60px;
    color: #fff;
    text-align: center;
  }
  
}
