<table *ngIf="disksCategory" mdbTable hover="true">
  <thead class="p-2">
  <tr class="headers">
    <th class="text-capitalize">
      <p class="font-weight-bold">{{disksCategory[set].name}}</p>
      <p>series <span class="text-uppercase">{{set}}</span></p>
    </th>
    <th><img src="../../../../assets/table-icons/diskCount.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/reqHp.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/diskDiameter.png" alt=""></th>
    <th class="scale-up"><img src="../../../../assets/table-icons/axisSize.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/workingWidth.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/transportWidth.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/diskWorkingDepth.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/transportSpeed.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/workSpeed.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/productivity.png" alt=""></th>
    <th><img src="../../../../assets/table-icons/weightWithoutRotors.png" alt=""></th>
  </tr>
  </thead>
  <tbody>
  <tr [routerLink]="set+'/'+item.key"
      *ngFor="let item of disksCategory[set].collection | keyValueFilter">
    <td class="text-center" *ngFor="let header of headers">{{item.value[header.key]}}</td>
  </tr>
  </tbody>
</table>
