<div class="container-fluid admin-expositions-container" >
  <angular-editor #editorComponent [formControl]="expositionFormControl" [config]="editorConfig"></angular-editor>
  <div class="row">
    <mat-form-field class="col-8">
      <mat-label>Заглавие</mat-label>
      <input matInput [formControl]="headingFormControl" type="text">
    </mat-form-field>
    <input class="col-4" (change)="fileFormControl.patchValue($event.target.files)" type="file" />
  </div>
  
  <div class="py-1 px-3 row justify-content-between">
    <button (click)="discard()" class="btn btn-warning text-capitalize">discard</button>
    <button (click)="preview()" class="btn btn-warning text-capitalize">preview</button>
    <button (click)="save()"    class="btn btn-success text-capitalize">save</button>
  </div>
</div>
