::ng-deep angular-editor{
  .angular-editor-toolbar{
    position: fixed;
    z-index: 2;
  }
  .angular-editor-wrapper{
    padding-top: 60px;
    
    .angular-editor-placeholder{
      display: none!important;
    }
  }
}
