::ng-deep angular-editor {
  .angular-editor-toolbar {
    position: relative;
    z-index: 2;
  }
  .angular-editor-wrapper {
    
    .angular-editor-placeholder {
      display: none !important;
    }
  }
}
