.description-container {
  .product-description {
    p {
      word-break: break-word;
    }
  }

  div.background-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
  }
}

.accordion > .card:last-of-type {
  border-bottom-width: 1px !important;
}

div.card {
  border: 1px solid rgb(0, 0, 0, 0.125) !important;

  &:first-of-type {
    border-radius: 4px 4px 0 0 !important;
  }

  &:last-of-type {
    border-radius: 0 0 4px 4px !important;
  }

  a {
    text-underline: none;
    text-decoration: none;
    color: green;
    
    .series-heading {
      padding: 10px;
    }
  }
}
