<footer>
  <div class="footer-container">
    <div class="company-info">
      <div>
        <img src="../../assets/img/logo.png" alt="" />
        <h3>Ralomex</h3>
      </div>
      <ul>
        <li>3 Osvobojdenie Street</li>
        <li>Zavet 7330</li>
        <li>Bulgaria</li>
        <li>+359889385523</li>
        <li>order@ralomex.com</li>
      </ul>
    </div>
    <div class="connections">
      <h3>Stay Connected</h3>
      <ul>
        <li>
          <a target="_blank" href="https://www.facebook.com/ralomex"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/ralomex"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://plus.google.com/101566423806078497749"
            ><i class="fab fa-google-plus-g"></i
          ></a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/company/ralomex"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
