<div *ngIf="catalog" class="container products-container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        (click)="addActiveClass($event, 'ploughs')"
        [class.active]="activeCategory.ploughs"
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/PPRO.6.30-40.jpg)' }"
      >
        <div class="overlay ploughs">
          <h1 class="text-capitalize">{{'ploughs'|translate}}</h1>
          <ul>
            <li class="capitalize" *ngFor="let productType of catalog.ploughs" [routerLink]="'overview/ploughs/' + productType">
              {{ productType |translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        (click)="addActiveClass($event, 'disks')"
        [class.active]="activeCategory.disks"
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/1.jpg)' }"
      >
        <div class="overlay disks">
          <div>
            <h1 class="text-capitalize">{{'disks'|translate}}</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.disks" [routerLink]="'overview/disks/' + productType">
                {{ productType | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        (click)="addActiveClass($event, 'cultivators')"
        [class.active]="activeCategory.cultivators"
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/3.jpg)' }"
      >
        <div class="overlay cultivators">
          <div>
            <h1 class="text-capitalize">{{'cultivators'|translate}}</h1>
            <ul>
              <li
                class="capitalize"
                *ngFor="let productType of catalog.disks"
                [routerLink]="'overview/cultivators/' + productType"
              >
                {{ productType |translate}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        (click)="addActiveClass($event, 'rollers')"
        [class.active]="activeCategory.rollers"
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/4.jpg)' }"
      >
        <div class="overlay rollers">
          <div>
            <h1 class="text-capitalize">{{'tillage rollers'|translate}}</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.rollers" [routerLink]="'overview/rollers/' + productType">
                {{ productType |translate}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        (click)="addActiveClass($event, 'shredders')"
        [class.active]="activeCategory.shredders"
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/5.jpg)' }"
      >
        <div class="overlay shredders">
          <div>
            <h1 class="text-capitalize">{{'shredders'|translate}}</h1>
            <ul>
              <li
                class="capitalize"
                *ngFor="let productType of catalog.shredders"
                [routerLink]="'overview/shredders/' + productType"
              >
                {{ productType | translate}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        (click)="addActiveClass($event, 'sprayers')"
        [class.active]="activeCategory.sprayers"
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/6.jpg)' }"
      >
        <div class="overlay sprayers">
          <div>
            <h1 class="text-capitalize">{{'sprayers'| translate}}</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.disks" [routerLink]="'overview/sprayers/' + productType">
                {{ productType |translate}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        style="cursor: pointer"
        (click)="addActiveClass($event, 'special')"
        [routerLink]="'specials'"
        [class.active]="activeCategory.special"
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/7.jpg)' }"
      >
        <div class="overlay sprayers">
          <div >
            <h1 class="text-capitalize">{{'special' | translate}}</h1>
            <ul>
              <p style="color: white">Вижте нашите специализирани машини</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/8.jpg)' }"
      >
        <div class="overlay cultivators">
          <div>
            <h1 class="text-capitalize">{{'spare parts'|translate}}</h1>
            <ul>
              <li class="capitalize" >
                <a style="color: white" href="tel:+359889638054">+359889638054</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div
        class="wrapper"
        [ngStyle]="{ backgroundImage: 'url(../../../assets/img/products-overlays/9.jpg)' }"
      >
        <div class="overlay ploughs">
          <div>
            <h1 class="text-capitalize">{{'catalog'|translate}}</h1>
            <ul>
              <li>
                <a type="file" target="_blank"
                  href="https://drive.google.com/file/d/1Q37eMplmBA8Np6FAggB9wqTgzAKXt9sW"
                  >Catalog 2019</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
