<div class="container products-wrapper">
  <div class="row">
    <div class="container category-wrapper">
      <div class="row">
        <div class="col-lg-4 category">
          <div class="wrapper">
            <img
              src="../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg"
              alt="Plough category image"
            />
            <div class="overlay ploughs">
              <div>
                <h1>Ploughs</h1>
                <ul>
                  <li [routerLink]="[{ outlets: { products: ['ploughs'] } }]"><a>Навесни</a></li>
                  <li [routerLink]="[{ outlets: { products: ['ploughs'] } }]"><a>Прикачни</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 category">
          <div class="wrapper">
            <img src="../../../assets/img/disk.jpeg" alt="Disks category image" />
            <div class="overlay disks">
              <div>
                <h1>Disks</h1>
                <ul>
                  <li [routerLink]="[{ outlets: { products: ['disks'] } }]"><a>Навесни</a></li>
                  <li [routerLink]="[{ outlets: { products: ['disks'] } }]"><a>Прикачни</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 category">
          <div class="wrapper">
            <img src="../../../assets/img/cultivators.jpg" alt="Cultivators category image" />
            <div class="overlay cultivators">
              <div>
                <h1>Cultivators</h1>
                <ul>
                  <li [routerLink]="[{ outlets: { products: ['cultivators'] } }]">
                    <a>Навесни</a>
                  </li>
                  <li [routerLink]="[{ outlets: { products: ['cultivators'] } }]">
                    <a>Прикачни</a>
                  </li>
                  <li [routerLink]="[{ outlets: { products: ['cultivators'] } }]"><a>Окопни</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 category">
          <div class="wrapper">
            <a routerLinkActive="active" [routerLink]="[{ outlets: { products: ['rippers'] } }]"
              >Ripper Cultivators</a
            >
          </div>
        </div>
        <div class="col-md-4 category">
          <div class="wrapper">
            <a routerLinkActive="active" [routerLink]="[{ outlets: { products: ['rollers'] } }]"
              >Tillage Rollers</a
            >
          </div>
        </div>
        <div class="col-md-4 category">
          <div class="wrapper">
            <a routerLinkActive="active" [routerLink]="[{ outlets: { products: ['shredders'] } }]"
              >Shredders</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 category">
          <div class="wrapper">
            <a routerLinkActive="active" [routerLink]="[{ outlets: { products: ['special'] } }]"
              >Special Purpose</a
            >
          </div>
        </div>
        <div class="col-md-4 category">
          <div class="wrapper">
            <a routerLinkActive="active" [routerLink]="[{ outlets: { products: ['parts'] } }]"
              >Spare Parts</a
            >
          </div>
        </div>
        <div class="col-md-4 category">
          <div class="wrapper">
            <a routerLinkActive="active" [routerLink]="[{ outlets: { products: ['tools'] } }]"
              >Working Tools</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <router-outlet name="products"> </router-outlet>
  </main>
</div>
