<div *ngIf="catalog" class="container products-container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay ploughs">
          <h1>Ploughs</h1>
          <ul>
            <li class="capitalize" *ngFor="let productType of catalog.ploughs" [routerLink]="'overview/ploughs/' + productType">
              {{ productType }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay disks">
          <div>
            <h1>Disks</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.disks" [routerLink]="'overview/disks/' + productType">
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay cultivators">
          <div>
            <h1>Cultivators</h1>
            <ul>
              <li
                class="capitalize"
                *ngFor="let productType of catalog.disks"
                [routerLink]="'overview/cultivators/' + productType"
              >
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay rollers">
          <div>
            <h1>Tillage Rollers</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.rollers" [routerLink]="'overview/rollers/' + productType">
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay shredders">
          <div>
            <h1>Shredders</h1>
            <ul>
              <li
                class="capitalize"
                *ngFor="let productType of catalog.shredders"
                [routerLink]="'overview/shredders/' + productType"
              >
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay cultivators">
          <div>
            <h1>Sprayers</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.disks" [routerLink]="'overview/sprayers/' + productType">
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay special">
          <div>
            <h1>Special Purpose</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.special" [routerLink]="'overview/special/' + productType">
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay cultivators">
          <div>
            <h1>Spare Parts</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.parts" [routerLink]="'overview/parts/' + productType">
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 category">
      <div class="wrapper" [ngStyle]="{ backgroundImage: 'url(../../../assets/img/Kv_2500_S_iPlough_4787_kvg_large-1.jpg)' }">
        <div class="overlay cultivators">
          <div>
            <h1>Working Tools</h1>
            <ul>
              <li class="capitalize" *ngFor="let productType of catalog.tools" [routerLink]="'overview/tools/' + productType">
                {{ productType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
