<div class="container-fluid p-0">
  <section class="podemnik">
    <h1 class="m-3">Подемник <span>навесен</span></h1>
    <div class="background-image" [ngStyle]="{backgroundImage:'url(../../../../assets/img/mammut.jpg)'}" alt="Подемник навесен"></div>
    <p class="m-3">Навесният подемник от серия „Mammut” е устройство за селско и горскостопански трактори.
      Предназначен е само за употреба при товаро- разтоварни дейности.
      Подемника не трябва да се използва за работни процеси, които в дигнато състояние на
      стрелата изискват присъствието на хора под товара. Тези работи са допустими само, когато
      товарът е оборудван с предпазно устройство срещу спускане. Той трябва да се експлоатира
      само в рамките дефинирани в техническите данни.</p>
  </section>
  <section>
    <img class="w-100" src="../../../../assets/img/mammut-schema.png" alt="">
  </section>
  <section class="combimax justify-content-center d-flex flex-column">
    <h1 class="px-5 mb-2" routerLink="/products/overview/cultivators/trailed">Стърнищен култиватор</h1>
    <p class="px-5 m-0">Стърнищният култиватор „Kombimax“, е предназначен за обработка на стърнища с цел
      предсеитбена подготовка на почвата. Култиваторът изпълнява няколко операции с едно
      минаване.Машината е съобразена спрямо българските агротехнически условия. Взети са под
      внимание всички недостатъци на нейните западни аналози и са направени редица
      подобрения. Конструкцията притежава иновативно решение за регулиране на дълбочината.
      Машината се състои от четири работни зони, които могат да се комбинират според желанието
      на клиента. Първа зона се състои от самостоятелни дискови работни органи, предназначени за
      насичане на растителните остатъци. Следва зона с разрохкващи работни органи с „non stop“
      защита срещу претоварване, чрез подсилени двойни пружини, подходящи и за каменисти
      почви. Към работните органи има възможност за монтаж на ляв и десен нож за подрязване на
      плевелите. Работният орган, като цяло, освен че разрохква почвата и унищожава плевелите, но
      и осигуряваосово завъртане на обработената почва, за да се смесят растителните остатъци.
      Следващата зона е оборудвана с изравняващи дискове за заличаване дирите на предните
      работни органи. Последната зона представлява една система за валиране и доразтрошаване на
      почвената маса, която успешно работи и при по-влажни почви.</p>
    <img style="border-radius: 16px" class="w-75 mx-auto mt-5" src="../../../../assets/img/kOMBIMAX-1.jpg" alt="">
  </section>
  <section class="promo px-5">
    <h1>Специализирани почвообработващи машини</h1>
    <p>„Раломекс“АД може да изработи всички модели плугове, брани, култиватори и други видове
      почвообработващи машини за всички модели трактори, след предварителни данни за
      тракторите и уточнения относно някои специфични изисквания.
      До настоящия момент са изработени машини за овощарството и лозарството;
      почвообработваща машина за лавандула: окопен култиватор за ягоди; окопен култиватор за
      картофи с торовнасяне; сдвоени плугове т.е., плугът може да се раздели на две и да се
      използва от два различни трактора; дискови плугове; компактори; риголвач навесен;
      култиватор за рози; плуг за оранжерии; браздообразовател; култиватор за лавандула;
      култиватор за цвекло и други.</p>
    <img class="w-100" src="../../../../assets/img/promo-image.png" alt="">
  </section>
  <section class="products px-5">
    <div class="row mb-5">
      <div class="col-12 col-md-4">
        <img class="w-100" src="../../../../assets/img/KOV_Cveklo.jpg" alt="">
        <h2>Култиватор за цвекло</h2>
      </div>
      <div class="col-12 col-md-4">
        <img class="w-100" src="../../../../assets/img/KOV_Lavandula.jpg" alt="">
        <h2>Култиватор за лавандула</h2>
      </div>
      <div class="col-12 col-md-4">
        <img class="w-100" src="../../../../assets/img/Kultivator-rozi.jpg" alt="">
        <h2>Култиватор за рози</h2>
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-12 col-md-3">
        <img class="w-100" src="../../../../assets/img/Plug%20iznesen.jpg" alt="">
        <h2>Плуг изнесен</h2>
      </div>
      <div class="col-12 col-md-3">
        <img class="w-100" src="../../../../assets/img/Plug%20za%20oranjerii.jpg" alt="">
        <h2>Плуг за оранжерии</h2>
      </div>
      <div class="col-12 col-md-3">
        <img class="w-100" src="../../../../assets/img/Lozarska%20brana.jpg" alt="">
        <h2>Лозарска брана</h2>
      </div>
      <div class="col-12 col-md-3">
        <img class="w-100" src="../../../../assets/img/Lozarska%20mashina.jpg" alt="">
        <h2>Лозарска машина</h2>
      </div>
    </div>
  </section>
</div>
