.card-body{
  z-index: 16;
  position: relative;
  bottom: 100px;
  overflow: hidden;
  background: white;
  border: 1px solid #e4e4e4;
  box-shadow: 20px 19px 20px 0px grey;
  border-radius: 5px;
  padding-bottom: 15px;
  margin-bottom: -75px;
  }
@media only screen and (max-width: 600px) {
  .card-body{
    z-index: 16;
    position: relative;
    bottom: 0px;
    overflow: hidden;
    background: white;
    border: 1px solid #e4e4e4;
    box-shadow: 20px 19px 20px 0px grey;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: -3px;
    height: 270px;
    }
  }
/*div.card-cascade{*/
  /*padding-bottom: 50px;*/
  /*}*/
/*div.view-cascade{*/
  /*margin-top: 0px;*/
  /*margin-bottom: 120px;*/
  /*}*/
