<!-- Jumbotron -->
<div class="jumbotron text-center">
  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>Дискови Брани</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4">
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
      class="img-fluid"
      alt=""
    />
    <a href="#"> <div class="mask rgba-white-slight"></div> </a>
  </div>

  <p class="card-text">
    Дисковите брани са предназначени за дисковане на стърнища с цел подмятане на
    почвата или предсеитбена подготовка, дисковане на угари с цел раздробяване
    на буци и подравняване на полето, дисковане на ливади и пасища с цел
    подобряване аерацията на почвата и почистване от къртичини. Ползва се на
    всички видове почви с изключение на влажни, лепкави и на такива, подложени
    на ветрова ерозия. Лагерното тяло на браните е с по два лагера и четири
    уплътнения, което ги прави много здрави и надежни. Дисковите брани до 7 м.
    работна ширина са окомплектовани с подравнителен ротор „кух” тип, което
    изключва задръстването наротора. Дисковите брани са с намалена дължина, като
    равновесиетона бмашината е подсигурено с допълнителни тежести. По този начин
    браната е с голяма маневреност.
  </p>
</div>
<!-- Jumbotron -->
