.a-tab {
  margin: 10px 0;
  height: 60px;
  list-style: none;
  background: #91b4a5;
  font-size: 1.2rem;
  text-align: left;
  line-height: 25px;
}

.model {
  font-weight: bold;
  font-size: 1.1rem;
}
.plough-category-info p {
  font-size: 1rem;
}
.plough-category-info img {
  margin: 5px;
  padding: 3px;
  float: left;
}
