<div class="container-fluid">
  <div *ngIf="data" class="tg table table-lg table-hover table-bordered">
    <div class="table-heading">
      <div class="table-row">
        <div class="tg-0lax table-cell">Model</div>
        <div class="tg-0lax table-cell">HP Requirement</div>
        <div class="tg-0lax table-cell">Work Depth</div>
        <div class="tg-0lax table-cell">Work Width</div>
        <!--<div class="tg-0lax table-cell">Speed</div>-->
        <!--<div class="tg-0lax table-cell">Productivity</div>-->
        <div class="tg-0lax table-cell">Weight</div>
        <!--<div class="tg-0lax table-cell">Clearance</div>-->
      </div>
    </div>

    <div
      class="table-row item"
      *ngFor="let item of (data | keyValueFilter)"
      routerLink="/product/{{type}}/{{category}}/{{subCategory}}/{{ item.key }}"
    >
      <div class="tg-sjuo table-cell model">{{ item.value.model }}</div>
      <div class="tg-sjuo table-cell">
        <em>{{ item.value.reqHP }}</em>
      </div>
      <div class="tg-sjuo table-cell">
        <em>{{ item.value.depthWork }}</em> см
      </div>
      <!--<div class="tg-sjuo table-cell">-->
      <!--<em>{{ item.value.widthWork }}</em> cm-->
      <!--</div>-->
      <!--<div class="tg-sjuo table-cell">-->
      <!--<em>{{ item.value.speed }}</em> km/h-->
      <!--</div>-->
      <div class="tg-sjuo table-cell">
        <em>{{ item.value.productivity }}</em> dk/h
      </div>
      <div class="tg-sjuo table-cell">
        <em>{{ item.value.weight }}</em> kg
      </div>
      <!--<div class="tg-sjuo table-cell">-->
      <!--<em>{{ item.value.clearance }}</em> cm-->
      <!--</div>-->
    </div>
  </div>
</div>
