.table {
  display: table;
}
.table-heading {
  display: table-header-group;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}

.item:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #bbb;
  width: 100%;
}
.table-cell {
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 0 auto;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #bbb;
  color: #594f4f;
  background-color: #9de0ad;
}
.tg .table-heading {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #bbb;
  color: #493f3f;
  background-color: #e0ffeb;
  text-align: center;
}

.tg-0lax {
  text-align: center;
  vertical-align: top;
}

.tg-sjuo {
  background-color: #c2ffd6;
  text-align: center;
  vertical-align: top;
}
