.container-fluid{
  border-radius: 5px 5px 0 0;
  }
.footer-copyright{
  border-radius: 0 0 5px 5px;
  }

.page-footer{
  border-radius: 10px 10px 0 0;
  padding: 30px;
}
.page-footer > *{
  background-color: rgba(102, 162, 96, 0.6);
  }
li{
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  }
li a {
  font-size: 50px;
  margin: 10px;
  line-height: 0.5rem
  }
a:hover{
  color: black;
  }

