<footer class="page-footer success">
  <div class="container-fluid text-center p-4 w-auto">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Раломекс АД</h5>
        <hr>
        <p>
          Раломекс АД е водещ производител в България на машини за основна обработка на почвата - плугове, култиватори и дискови брани.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-4 mb-md-0 mb-3">
        <div class="wrapper">
          <div>
            <p><a href="https://goo.gl/maps/p1zB3fmtgRB2" target="_blank">
              <i class="fas fa-map-marker-alt"></i>
              ул. Освобождение 3 <br>
              Завет 7330
              България</a></p>
            <hr>
            <p><a target="_blank" href="mailto:order@ralomex.com">
              <i class="fas fa-envelope"></i> order@ralomex.com</a>
            </p><br>
            <p><i class="fas fa-phone"></i> +359 889 385 523</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://www.facebook.com/ralomex"><i class="fab fa-facebook-square"></i></a></li>
          <li><a target="_blank" href="https://plus.google.com/101566423806078497749"><i class="fab fa-google-plus-square"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/ralomex"><i class="fab fa-linkedin-square"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/ralomex"><i class="fab fa-twitter-square"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCENd1JKaD3an8kJHZhesL7g"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center p-2 mb-3">
    <p>© 2019 Copyright: <a href="https://ralomex.com">Ralomex.com</a></p>
  </div>
</footer>
