<nav class="nav-container">
  <ul (mouseleave)="visible = false" class="nav-items">
    <li [className]="visible ? 'visible' : 'hidden'">
      <a (click)="itemPicked()" routerLinkActive="active" routerLink="admin"
      >Admin</a
      >
    </li>
    <li [className]="visible ? 'visible' : 'hidden'">
      <a (click)="itemPicked()" routerLinkActive="active" routerLink="products"
        >Products</a
      >
    </li>
    <li [className]="visible ? 'visible' : 'hidden'">
      <a (click)="itemPicked()" routerLinkActive="active" routerLink="news"
        >News</a
      >
    </li>
    <li [className]="visible ? 'visible' : 'hidden'">
      <a (click)="itemPicked()" routerLinkActive="active" routerLink="awards"
        >Awards</a
      >
    </li>
    <li
      (mouseenter)="visible = true"
      (click)="visible = true"
      class="logo-item"
    >
      <a routerLinkActive="active" routerLink="home">
        <div class="logo-container">
          <img class="logo" src="./assets/img/logo.png" alt="ralomex logo" />
          <div class="logo-text-container">
            <p class="title">ralomex <i class="far fa-registered"></i></p>
            <p class="follower">machines for modern agriculture</p>
          </div>
        </div>
      </a>
    </li>
    <li [className]="visible ? 'visible' : 'hidden'">
      <a (click)="itemPicked()" routerLinkActive="active" routerLink="projects"
        >Projects</a
      >
    </li>
    <li [className]="visible ? 'visible' : 'hidden'">
      <a (click)="itemPicked()" routerLinkActive="active" routerLink="history"
        >History</a
      >
    </li>
    <li [className]="visible ? 'visible' : 'hidden'">
      <a (click)="itemPicked()" routerLinkActive="active" routerLink="about"
        >About Us</a
      >
    </li>
  </ul>
</nav>
