.nav-container {
  padding: 15px;
  margin: 0 auto;
  width: 95%;
}

.logo-container {
  /*float: left;*/
  margin: 0 15px;
  display: inline-flex;
}
img.logo {
  margin: 0 5px;
  width: 5rem;
  height: 5rem;
}
.logo-text-container {
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.title {
  font-size: 3rem;
}
.title,
.follower {
  text-transform: uppercase;
}
.svg-inline--fa.fa-w-16 {
  width: 0.3em;
  margin-bottom: 0.2em;
}
a {
  color: inherit;
  text-decoration: none;
}
a.active {
  font-weight: bold;
  color: black;
}

ul {
  width: 100%;
  background-color: rgb(102, 162, 96);
  border-radius: 5px;
  list-style: none;
  text-align: center;
}
ul li {
  display: inline-block;
  padding: 15px 10px;
  font-weight: bold;
  color: white;
}
/*ul li:hover {*/
/*font-weight: bolder;*/
/*-webkit-transform: scale(1.5);*/
/*color: black;*/
/*}*/
a:hover {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #111111;
}
@media screen and (max-width: 1185px) {
  ul li a {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  ul li {
    border-bottom: 1px solid gray;
  }
  li.hidden {
    display: none !important;
  }
  li.visible {
    display: flex !important;
  }
  li:hover {
    background-color: #8ecb8c;
  }
  ul {
    flex-direction: column-reverse;
    display: flex;
  }
  .logo-item {
    order: 1;
  }
}
