<!--Accordion wrapper-->
<div
  class="accordion md-accordion"
  id="accordionEx"
  role="tablist"
  aria-multiselectable="false"
>
  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->

    <div class="card-header" role="tab" id="headingOne1">
      <a
        data-toggle="collapse"
        data-parent="#accordionEx"
        href="#collapse-{{ category }}"
        aria-expanded="false"
        aria-controls="collapse"
      >
        <h5 class="mb-0">
          {{ category }} <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div
      id="collapse-{{ category }}"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingOne1"
      data-parent="#accordionEx"
    >
      <div class="container-fluid ">
        <div
          (click)="logging()"
          class="row sub-category"
          *ngFor="let subCat of subCategories"
        >
          <!--<div class="col-lg-4">-->
          <!--<img src="{{ data.collection[subCat].image }}" alt="" />-->
          <!--</div>-->
          <!--<div class="col-lg-8">-->
          <!--<h2>{{ subCat }}</h2>-->
          <!--<p>{{data.collection[subCat].description}}</p>-->
          <!--</div>-->
          <app-mdb-card
            [description]="data.collection[subCat].description"
            [image]="data.collection[subCat].image"
            [heading]="subCat"
          ></app-mdb-card>
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion card -->
</div>
<!-- Accordion wrapper -->
