<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#centralModalFluidSuccessDemo"
>
  Иновативни технологии и продукти
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="centralModalFluidSuccessDemo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  style="display: none;"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg   modal-notify modal-success"
    role="document"
  >
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead text-center">
          Въвеждане на иновативни технологии и продукти в Раломекс АД
        </p>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <img
            src="https://ralomex.com/Images/project/eu_project1.jpg"
            alt=""
          />
          <p>
            „Раломекс” АД сключи договор за безвъзмездна финансова помощ по
            открита процедура за конкурентен подбор на проекти с определен срок
            на кандидатстване BG161PO003-2.1.13 “Технологична модернизация в
            малки и средни предприятия”. Наименованието на проекта на фирмата по
            договор № BG161PO003-2.1.13-0443-С0001/27.07.2012 е „Въвеждане на
            иновативни технологии и продукти в „Раломекс” АД” и се реализира с
            финансовата подкрепа на Европейски съюз и Република България,
            Европейски фонд за регионално развитие, Оперативна програма
            „Развитие на конкурентоспособността на българската икономика
            2007-2013”, Операция BG161PO003-2.1.13 “Технологична модернизация в
            малки и средни предприятия”
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer text-center">
        <a
          type="button"
          class="btn btn-outline-danger waves-effect"
          data-dismiss="modal"
          >Затвори</a
        >
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
