<div class="form-group">
  <label for="category">Категория</label>
  <select
    [disabled]="!categories"
    (change)="onCategoryChange($event.target.value)"
    class="form-control"
    name="Изберете Категория"
    id="category"
  >
    <option disabled>Изберете Категория</option>
    <option *ngFor="let category of categories">{{ category | translate }}</option>
  </select>
  <div *ngIf="series">
    <label for="subCat">Серия</label
    ><select [disabled]="!series" (change)="onSetChange($event.target.value)" class="form-control" name="subCat" id="subCat">
      <option disabled>Изберете Серия</option>
      <option *ngFor="let subType of series">{{ subType }}</option>
    </select>
  </div>
  <div *ngIf="ploughList">
    <app-mdb-editable-table [type]="category" [series]="set" [collection]="ploughList"></app-mdb-editable-table>
  </div>
</div>
