<thead class="p-2 cultivators">
  <tr class="headers">
    <th class="text-capitalize">
<!--      <p class="font-weight-bold">{{ name | translate }}</p>-->
      <p>
        {{ 'series' | translate }} <span class="text-uppercase">{{ set | translate }}</span>
      </p>
    </th>
    <th (click)="bodyCountTooltip.toggle()">
      <img
        #bodyCountTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'working body count' | translate }}"
        src="../../../../../assets/table-icons/cultivatorsWorkBodyCount1.png"
        alt=""
      />
    </th>
    <th (click)="reqHpTooltip.toggle()">
    <img
      #reqHpTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'required horse power' | translate }}"
        src="../../../../../assets/table-icons/reqHp.png"
        alt=""
      />
    </th>
    <th class="scale-up" (click)="bodySpacingTooltip.toggle()">
      <img
        #bodySpacingTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'body spacing' | translate }}"
        src="../../../../../assets/table-icons/cultivatorsBodySpacing1.png"
        alt=""
      />
    </th>
    <th class="scale-up" (click)="rowCountTooltip.toggle()">
      <img
        #rowCountTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'row count' | translate }}"
        src="../../../../../assets/table-icons/cultivatorsRowCount1.png"
        alt=""
      />
    </th>
    <th class="scale-up" (click)="workingWidthTooltip.toggle()">
      <img
        #workingWidthTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'working width' | translate }}"
        src="../../../../../assets/table-icons/workingWidth.png"
        alt=""
      />
    </th>
    <th class="scale-up" (click)="widthTooltip.toggle()">
      <img
        #widthTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'transport width' | translate }}"
        src="../../../../../assets/table-icons/transportWidth.png"
        alt=""
      />
    </th>
    <th *ngIf="set !== 'kkp' && set !== 'kk'" class="scale-up" (click)="protectionTooltip.toggle()">
      <img
        #protectionTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'protection' | translate }}"
        src="../../../../../assets/table-icons/cultivatorsProtection.png"
        alt=""
      />
    </th>
    <th class="scale-up" (click)="depthTooltip.toggle()">
      <img
        #depthTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'working depth' | translate }}"
        src="../../../../../assets/table-icons/cultivatorsDepthWork1.png"
        alt=""
      />
    </th>
    <th (click)="transportSpeedTooltip.toggle()">
      <img
        #transportSpeedTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'transport speed' | translate }}"
        src="../../../../../assets/table-icons/transportSpeed.png"
        alt=""
      />
    </th>
    <th (click)="workSpeedTooltip.toggle()">
      <img
        #workSpeedTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'working speed' | translate }}"
        src="../../../../../assets/table-icons/workSpeed.png"
        alt=""
      />
    </th>
    <th (click)="productivityTooltip.toggle()">
      <img
        #productivityTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'productivity' | translate }}"
        src="../../../../../assets/table-icons/productivity.png"
        alt=""
      />
    </th>
    <th (click)="weightTooltip.toggle()">
      <img
        #weightTooltip=matTooltip
        matTooltipPosition="above"
        matTooltip="{{ 'weight' | translate }}"
        src="../../../../../assets/table-icons/weight.png"
        alt=""
      />
    </th>
    <th *ngIf="admin">
      <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
    </th>
  </tr>
</thead>
