<div class="mt-5 wrapper">
  <form>
    <div class="form-group">
      <label for="category">Категория</label>
      <select class="form-control" name="Изберете Категория" id="category">
        <option *ngFor="let category of categories">{{ category }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="model">Модел</label>
      <input class="form-control" type="text" id="model" />
    </div>
    <div class="form-group">
      <label for="type">Тип</label>
      <input class="form-control" type="text" id="type" />
    </div>
    <div class="form-group">
      <label for="hp">Необх. HP</label>
      <input class="form-control" type="text" id="hp" />
    </div>
    <div class="form-group">
      <label for="depth">Дълбочина</label>
      <input class="form-control" type="text" id="depth" />
    </div>
    <div class="form-group">
      <label for="width">Широчина</label>
      <input class="form-control" type="text" id="width" />
    </div>
    <div class="form-group">
      <label for="speed">Скорост</label>
      <input class="form-control" type="text" id="speed" />
    </div>
    <div class="form-group">
      <label for="prod">Продуктивност</label>
      <input class="form-control" type="text" id="prod" />
    </div>
    <div class="form-group">
      <label for="weight">Тегло</label>
      <input class="form-control" type="text" id="weight" />
    </div>
    <div class="form-group">
      <label for="clearance">Просвет</label>
      <input class="form-control" type="text" id="clearance" />
    </div>
    <div class="form-group">
      <a class="btn btn-success">Запази</a>
    </div>
  </form>
</div>
