@import './../../variables';

div.popover.popup-container {
  background-color: $primaryGreen;
  padding-left: 10px;
  width: 230px;
  top: 150px;
  left: calc(100% - 50px);
  color: white;
  position: fixed;
  transition: ease-in-out 0.5s;
  animation: flashingDropShadow 3s infinite;

  &:hover,
  &.active {
    left: calc(100% - 245px);
    animation: unset;
  }

  div.phone-icon {
    height: 70px;

    i {
      margin: 26px 0;
      font-size: 24px;
    }
  }

  .contacts {
    a {
      color: white;
      font-size: 18px;
    }
  }
}
