<div *ngIf="!router.url.endsWith('admin')"
     [class.active]="isActive" (click)="setActive()" class="row popover d-flex flex-row popup-container drop-shadow">
  <div class="phone-icon col-3">
    <i class="fa fa-phone drop-shadow" aria-hidden="true"></i>
  </div>
  <div class="contacts col-9 align-self-center">
    <p class="m-0"><a class="drop-shadow" [attr.href]="'tel:+35984422241'">+35984422241</a></p>
    <p class="m-0"><a class="drop-shadow" [attr.href]="'tel:+35984422126'">+35984422126</a></p>
  </div>
</div>
