<thead class="p-2 rollers">
  <tr class="headers">
    <th class="text-capitalize">
      <p class="font-weight-bold">{{ name }}</p>
      <p>
        series <span class="text-uppercase">{{ set }}</span>
      </p>
    </th>
    <th><img src="../../../../../assets/table-icons/reqHp.png" alt="" /></th>
    <th><img src="../../../../../assets/table-icons/compactionDepth.png" alt="" /></th>
    <th><img src="../../../../../assets/table-icons/workingWidth.png" alt="" /></th>
    <th><img src="../../../../../assets/table-icons/transportWidth.png" alt="" /></th>
    <th><img src="../../../../../assets/table-icons/transportSpeed.png" alt="" /></th>
    <th><img src="../../../../../assets/table-icons/workSpeed.png" alt="" /></th>
    <th><img src="../../../../../assets/table-icons/productivity.png" alt="" /></th>
    <th><img src="../../../../../assets/table-icons/weight.png" alt="" /></th>
  </tr>
</thead>
