<thead class="p-2 rollers">
  <tr class="headers">
    <th class="text-capitalize">
<!--      <p class="font-weight-bold">{{ name | translate }}</p>-->
      <p>
        {{ 'series' | translate }} <span class="text-uppercase">{{ set | translate }}</span>
      </p>
    </th>
    <th (click)="reqHp.toggle()">
      <img
        #reqHp="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'required horse power' | translate }}"
        src="../../../../../assets/table-icons/reqHp.png"
      />
    </th>
    <th (click)="compact.toggle()">
      <img
        #compact="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'compaction depth' | translate }}"
        src="../../../../../assets/table-icons/compactionDepth.png"
      />
    </th>
    <th (click)="width.toggle()">
      <img
        #width="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'working width' | translate }}"
        src="../../../../../assets/table-icons/workingWidth.png"
      />
    </th>
    <th (click)="trWidth.toggle()">
      <img
        #trWidth="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'transport width' | translate }}"
        src="../../../../../assets/table-icons/transportWidth.png"
      />
    </th>
    <th (click)="tranSpeed.toggle()">
      <img
        #tranSpeed="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'transport speed' | translate }}"
        src="../../../../../assets/table-icons/transportSpeed.png"
      />
    </th>
    <th (click)="opSpeed.toggle()">
      <img
        #opSpeed="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'operating speed' | translate }}"
        src="../../../../../assets/table-icons/workSpeed.png"
      />
    </th>
    <th (click)="prod.toggle()">
      <img
        #prod="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'productivity' | translate }}"
        src="../../../../../assets/table-icons/productivity.png"
      />
    </th>
    <th (click)="weight.toggle()">
      <img
        #weight="matTooltip"
        matTooltipPosition="above"
        matTooltip="{{ 'weight' | translate }}"
        src="../../../../../assets/table-icons/weight.png"
      />
    </th>
    <th *ngIf="admin">
      <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
    </th>
  </tr>
</thead>
