<h2 class="row text-capitalize p-2">{{ 'certificates' | translate }}</h2>
<div class="row d-flex">
  <div class="col-4 image" [ngStyle]="{ backgroundImage: 'url(./../../../../assets/img/tuvRheinland.webp )' }"></div>
  <div class="col-8 p-5">
    <p>В "Раломекс" АД са внедрени и сертифицирани Система за управление на качеството ISO 9001:2008 и Система за управление на околната среда ISO 14001:2004, които са сертифицирани от ТЮФ Рейланд България.</p>
    <div class="row justify-content-center">
      <div class="col-3 certificate"
           *ngFor="let certificate of certificates | async | keyvalue"
           (click)="showDialog(certificate.value.imageUrl)"
           [ngStyle]="{ backgroundImage: 'url('+certificate.value.imageUrl+')' }" >
      </div>
    </div>
    
  </div>
</div>
<hr />
