div.image{
  min-height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  height: inherit;
  width: 100%;
  background-position: center;
  border-radius: 8px;
}
.certificate{
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  background-position: center;
  transition: all .5s;
  transform: scale(1);

  &:hover{
    transform: scale(1.2);
    border-radius: 4px;
    cursor: zoom-in;
    z-index: 5;

  }
}
