$primaryGreen: #008f3e;

nav.navbar {
  background-color: $primaryGreen;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;

  .navbar-brand {
    h1 {
      top: 15px;

      span {
        font-size: 24px;
        top: -10px;
      }
    }
  }

  .navbar-collapse {
    background-color: white;
    min-height: 75px;
    border-radius: 0 0 0 150px;
    align-items: flex-end;

    @media screen and (max-width: 768px) {
      border-radius: 15px 0 0 15px;
    }

    .nav-link {
      font-size: 23px;
      color: $primaryGreen;
      font-weight: 700;
      padding-left: 0;
    }
  }
}
.languages {
  color: white;
  font-size: 24px;
  margin-top: -1px;
  background-color: $primaryGreen;
  align-items: baseline;
  transition: 0.5s;
  h5 {
    padding: 0 5px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;

    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}
