<div class="row justify-content-center bg-danger" *ngIf="!(fireService.online | async)">
  <p class="m-0 p-0">Offline :(</p>
</div>
<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand d-flex row justify-content-center ml-auto align-items-end" routerLink="/">
    <img src="../../../assets/img/logo.png" alt="Ralomex logo" />
    <h1 class="col text-capitalize">раломекс <span class="registered col m-0 p-0">&reg;</span></h1>
  </a>

  <button
    class="ml-auto navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#main-nav"
    aria-controls="main-nav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="col navbar-nav d-flex justify-content-around pr-0 pl-4">
      <li class="nav-item active">
        <a class="nav-link text-capitalize" routerLink="products">products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-capitalize" routerLink="news">news</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link text-capitalize"
          id="about-us-dropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          about us
        </a>
        <div class="dropdown-menu text-capitalize" aria-labelledby="about-us-dropdown">
          <a class="dropdown-item text-capitalize" routerLink="about/еxpositions">expositions</a>
          <a class="dropdown-item text-capitalize" routerLink="about/projects">projects</a>
          <a class="dropdown-item text-capitalize" routerLink="about/history">history</a>
          <a class="dropdown-item text-capitalize" routerLink="about/team">the team</a>
          <a class="dropdown-item text-capitalize" routerLink="about/innovations">innovations</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link text-capitalize"
          id="contacts-dropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          contacts
        </a>
        <div class="dropdown-menu" aria-labelledby="contacts-dropdown">
          <a class="dropdown-item text-capitalize" routerLink="maps">maps</a>
          <a class="dropdown-item text-capitalize" routerLink="info">info</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row pr-4 justify-content-center justify-content-md-end justify-content-lg-end d-flex languages m-0">
  <h5>ENG</h5>
  /
  <h5>BG</h5>
</div>
