<p-accordion  class="wrapper">
  <p-accordionTab [transitionOptions]="'300ms'" (click)="getPloughs('pnr')" class="a-tab" header="Навесни">
    <div class="plough-category-info">
      <img
        src="https://ralomex.com//AdminPanel//Images/showcase/showcasecategory-11.jpg"
        alt=""
      />
      <h3>Навесни Плугове</h3>
      <p>
        Плуговете са три или четири корпусни, предназначени за дълбока оран до
        33 - 37см на всички видове почви с изключение на каменистите, на терени
        с наклон до 8 градуса. Характерно за корпуса е неговия полувинтов
        контур, наличието на предпазна планка на пълзеца, гърда сменяема,
        ъглосним и срязващ се предпазен елемент при претоварване на корпуса.
        Всичко това позволява висока скорост на работа и закриване на
        растителните отпадъци с над 95%. Плуговете са конструирани с висок
        просвет под рамата, който не позволява задръстване на плуга по време на
        работа. Плужният корпус може да бъде с цяла или пластинчата дъска.
        Възможността за регулиране на работната ширина на корпса е: 30см. -
        35см. - 40см. Конструкцията на плуга позволява, чрез напречен винт,
        прецизно регулиране на захвата на първият корпус в зависимост от
        работната ширина на корпуса и модела на трактора. Опорното колело
        позволява прецизно регулиране на дълбочината на работа при трактори без
        позиционна хидравлична система.
      </p>
    </div>
    <table class="tg">
      <tr>
        <th class="tg-0lax">Model</th>
        <th class="tg-0lax">Type</th>
        <th class="tg-0lax">HP</th>
        <th class="tg-0lax">Depth</th>
        <th class="tg-0lax">Width</th>
        <th class="tg-0lax">Speed</th>
        <th class="tg-0lax">Productivity</th>
        <th class="tg-0lax">Weight</th>
        <th class="tg-0lax">Clearance</th>
      </tr>
      <tr *ngFor="let plough of (data | keyValueFilter)">
        <td class="tg-sjuo model">{{ plough.value.model }}</td>
        <td class="tg-sjuo">
          <em>{{ plough.value.type }}</em>
        </td>
        <td class="tg-sjuo">
          <em>{{ plough.value.reqHP }}</em>
        </td>
        <td class="tg-sjuo">
          <em>{{ plough.value.depthWork }}</em> cm
        </td>
        <td class="tg-sjuo">
          <em>{{ plough.value.widthWork }}</em> cm
        </td>
        <td class="tg-sjuo">
          <em>{{ plough.value.speed[0] }}</em> -
          <em>{{ plough.value.speed[1] }}</em>
        </td>
        <td class="tg-sjuo">
          <em>{{ plough.value.productivity }}</em> dk/h
        </td>
        <td class="tg-sjuo">
          <em>{{ plough.value.weight }}</em> kg
        </td>
        <td class="tg-sjuo">
          <em>{{ plough.value.clearance }}</em> cm
        </td>
      </tr>
    </table>
  </p-accordionTab>

  <p-accordionTab
    (click)="getPloughs('ppr')"
    class="a-tab"
    header="Полунавесни"
  >
    <div *ngIf="data">{{ data | json }}</div>
  </p-accordionTab>
</p-accordion>
