.news-container{
  font-size: large;
  }
article{
  margin: 10px;
  border-bottom: 1px solid gray;
  min-height: 430px;
  }
h1{
  text-align: center;
  }
img{
  max-height: 360px;
  float: left;
  margin-right: 15px;
  }
main.news{
  margin: 25px;
  }
p.story-info{
  margin: 10px;
  }
