<div class="news-container">
  <h1>News</h1>
  <main class="news">
    <article>
      <div class="main">
        <p class="story-date">Post on 03 April 2014</p>
        <h3 class="story-heading">
          What is Lorem Ipsum?
        </h3>
        <img
          class="story-image"
          src="../../assets/temp/26.jpg"
          alt="story picture"
        />
        <p class="story-info">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </article>
    <article>
      <div class="main">
        <p class="story-date">Post on 03 April 2014</p>
        <h3 class="story-heading">
          What is Lorem Ipsum?
        </h3>
        <img
          class="story-image"
          src="../../assets/temp/26.jpg"
          alt="story picture"
        />
        <p class="story-info">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </article>
    <article>
      <div class="main">
        <p class="story-date">Post on 03 April 2014</p>
        <h3 class="story-heading">
          What is Lorem Ipsum?
        </h3>
        <img
          class="story-image"
          src="../../assets/temp/26.jpg"
          alt="story picture"
        />
        <p class="story-info">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </article>
  </main>
</div>
