<div class="container-fluid">
  <div class="col-md-12">
    <div class="user text-center">
      <div *ngIf="!(authService.user | async)" class="button-wrapper">
        <div (click)="authService.googleOAuth()" id="gSignInWrapper">
          <div id="customBtn" class="customGPlusSignIn">
            <span class="icon"></span> <span class="buttonText">Google</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="authService.user | async">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <nav>
              <button
                class="btn btn-warning"
                (click)="authService.logout()"
                *ngIf="authService.user | async"
              >
                Logout
              </button>
              <ul class="nav flex-column">
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['ploughs'] } }]"
                    >Плугове</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['disks'] } }]"
                    >Дискови Брани</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['cultivators'] } }]"
                    >Култиватори</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['rippers'] } }]"
                    >Разрохвачи</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['rollers'] } }]"
                    >Валяци</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['shredders'] } }]"
                    >Раздробители</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['special'] } }]"
                    >Специализирани</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['parts'] } }]"
                    >Резервни Части</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { admin: ['tools'] } }]"
                    >Работни Органи</a
                  >
                </li>
              </ul>
              <ul class="secondary-nav">
                <li routerLinkActive="active" class="nav-item">
                  <a [routerLink]="[{ outlets: { admin: ['home'] } }]" class="nav-link"
                    >Начални Ел.</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a [routerLink]="[{ outlets: { admin: ['news'] } }]" class="nav-link">Новини</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a [routerLink]="[{ outlets: { admin: ['awards'] } }]" class="nav-link"
                    >Награди</a
                  >
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a [routerLink]="[{ outlets: { admin: ['projects'] } }]" class="nav-link"
                    >Проекти</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-10 text-center">
            <div class="container-fluid pl-1">
              <router-outlet class="admin-router" name="admin"></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
