<div [class.disabled]="!(fireService.online | async)" class="container-fluid p-0">
  <div *ngIf="!(authService.user | async)" class="user text-center m-5">
    <div class="button-wrapper">
      <div (click)="authService.signIn()" id="gSignInWrapper">
        <div id="customBtn" class="customGPlusSignIn"><span class="icon"></span> <span class="buttonText">Google</span></div>
      </div>
    </div>
  </div>
  <div *ngIf="authService.user | async">
    <button class="btn btn-warning logout-button" (click)="authService.logout()">
      Logout
    </button>
    <mat-tab-group *ngIf="fireService.DATABASE">
      <mat-tab label="Плугове">
        <app-admin-edit-item
          (addProductEmits)="showAddProductDialog($event)"
          (editProductEmits)="showEditProductDialog($event)"
          [productType]="ProductTypes.PLOUGHS"
          [category]="fireService.DATABASE.ploughs"
        >
        </app-admin-edit-item>
      </mat-tab>

      <mat-tab label="Брани">
        <app-admin-edit-item
          (addProductEmits)="showAddProductDialog($event)"
          (editProductEmits)="showEditProductDialog($event)"
          [productType]="ProductTypes.DISKS"
          [category]="fireService.DATABASE.disks"
        ></app-admin-edit-item>
      </mat-tab>

      <mat-tab label="Култиватори">
        <app-admin-edit-item
          (addProductEmits)="showAddProductDialog($event)"
          (editProductEmits)="showEditProductDialog($event)"
          [productType]="ProductTypes.CULTIVATORS"
          [category]="fireService.DATABASE.cultivators"
        ></app-admin-edit-item>
      </mat-tab>

      <mat-tab label="Валяци">
        <app-admin-edit-item
          (addProductEmits)="showAddProductDialog($event)"
          (editProductEmits)="showEditProductDialog($event)"
          [productType]="ProductTypes.ROLLERS"
          [category]="fireService.DATABASE.rollers"
        ></app-admin-edit-item>
      </mat-tab>

      <mat-tab label="Разрохквачи">
        <app-admin-edit-item
          (addProductEmits)="showAddProductDialog($event)"
          (editProductEmits)="showEditProductDialog($event)"
          [productType]="ProductTypes.SHREDDERS"
          [category]="fireService.DATABASE.shredders"
        ></app-admin-edit-item>
      </mat-tab>

      <mat-tab label="Пръскачки">
        <app-admin-edit-item
          (addProductEmits)="showAddProductDialog($event)"
          (editProductEmits)="showEditProductDialog($event)"
          [productType]="ProductTypes.SPRAYERS"
          [category]="fireService.DATABASE.sprayers"
        ></app-admin-edit-item>
      </mat-tab>
      
<!--      <mat-tab label="Testt">-->
<!--        <app-news-control></app-news-control>-->
<!--        <app-add-news></app-add-news>-->
<!--      </mat-tab>-->

<!--      <mat-tab label="Новини"> Content 3</mat-tab>-->

<!--      <mat-tab label="Награди"> Content 3</mat-tab>-->

<!--      <mat-tab label="Проекти"> Content 3</mat-tab>-->

<!--      <mat-tab label="Екип"> Content 3</mat-tab>-->

<!--      <mat-tab label="Изложби"> Content 3</mat-tab>-->

<!--      <mat-tab label="Инновации"> Content 3</mat-tab>-->

<!--      <mat-tab label="Сертификати"> Content 3</mat-tab>-->
    </mat-tab-group>
  </div>
</div>
