<div class="products-container">
  <h1>Products</h1>
  <aside>
    <ul>
      <li><a [routerLink]="[{ outlets: { products: ['ploughs'] } }]">Ploughs</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['disks'] } }]">Disk Harrows</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['cultivators'] } }]">Cultivators</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['ripped-cultivators'] } }]">Ripper Cultivators</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['rollers'] } }]">Tillage Rollers</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['shredders'] } }]">Shredders</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['special'] } }]">Special Purpose</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['parts'] } }]">Spare Parts</a></li>
      <li><a [routerLink]="[{ outlets: { products: ['tools'] } }]">Working Tools</a></li>
    </ul>
  </aside>
  <main><router-outlet name="products"></router-outlet></main>
</div>
