<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne1">
      <a
        data-toggle="collapse"
        data-parent="#accordionEx"
        href="#collapse-{{ category }}"
        aria-expanded="false"
        aria-controls="collapse"
      >
        <h5 class="mb-0">{{ category }}</h5>
      </a>
    </div>

    <div id="collapse-{{ category }}" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="container-fluid ">
        <div class="row sub-category" *ngFor="let subCat of subCategories; let i = index">
          <app-mdb-section
            [index]="i"
            [type]="type"
            [category]="category"
            [description]="data.collection[subCat].description"
            [image]="data.collection[subCat].image"
            [heading]="subCat"
          ></app-mdb-section>
        </div>
      </div>
    </div>
  </div>
</div>
