<div class="container-fluid home-wrapper p-0">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let product of homeProducts | async | keyValueFilter">
      <div class="view w-100">
        <img
          (contextmenu)="onRightClick($event)"
          class="d-block w-100"
          src="{{ product.value.image }}"
          alt="First slide"
        />
        <a
          routerLink="/product/{{ product.value.href.slice(29) }}"
          class="mask rgba-black-light waves-light"
          mdbWavesEffect
        >
        </a>
      </div>
      <div class="carousel-caption">
        <a routerLink="/product/{{ product.value.href.slice(29) }}">
          <h3 class="h3-responsive">{{ product.value.heading }}</h3>
        </a>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
