.card-product{
  margin-top: 30px;
}
img{
  max-width: 100%;
  border-radius: 12px;
}
.stats{
  display: flex;
  flex-direction: column;
  
  a:visited,a{
    color: inherit;
  }
}

.card-header{
  border:none;
  background: none;
  text-align: center;
  min-height: 280px;
}

.card-header-image{
  position: relative;
  padding: 0 26px;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
}
