<div class="container-fluid">
  <form
    *ngIf="homeElement"
    #form="ngForm"
    (ngSubmit)="editHomeElement(homeElementId, form.value).then((homeElement = null))"
  >
    <div class="form-group">
      <label for="heading">Заглавие</label>
      <input
        [(ngModel)]="homeElement.heading"
        required
        class="form-control"
        type="text"
        id="heading"
        name="heading"
      />
    </div>
    <div class="form-group">
      <label for="href">Връзка към продукта</label>
      <input
        [(ngModel)]="homeElement.href"
        required
        class="form-control"
        type="text"
        id="href"
        name="href"
      />
    </div>
    <div class="form-group">
      <label for="image">Връзка към снимка</label>
      <input
        [(ngModel)]="homeElement.image"
        required
        class="form-control"
        type="text"
        id="image"
        name="image"
      />
    </div>
    <button [disabled]="!form.valid" class="btn btn-primary" type="submit">
      Запази
    </button>
  </form>
  <div class="wrapper" *ngIf="elements">
    <div
      class="card-group"
      *ngFor="let elementsArr of elements | async | keyValueFilter | objectSplitToArray: 3"
    >
      <mdb-card *ngFor="let element of elementsArr" class="m-1" id="{{ element.key }}">
        <mdb-card-img
          *ngIf="element.value.image"
          src="{{ element.value.image }}"
          alt="Card image cap"
        ></mdb-card-img>
        <mdb-card-title>
          <h4>{{ element.value.heading }}</h4>
        </mdb-card-title>
        <button
          (click)="setElement(element.key, element.value)"
          mdbBtn
          color="primary"
          mdbWavesEffect
        >
          Редактирай
        </button>
        <button (click)="deleteElement(element.key)" mdbBtn color="danger" mdbWavesEffect>
          Изтрий
        </button>
      </mdb-card>
    </div>
  </div>
</div>
