<div class="container-fluid text-center">
  <div class="wrapper w-auto" *ngFor="let project of projects | async | keyValueFilter">
    <a
      class="btn btn-primary"
      [attr.data-target]="'#modal-' + project.key"
      data-toggle="modal"
      type="button"
    >
      {{ project.value.heading }}
    </a>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modal-{{ project.key }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg   modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading lead text-center">{{ project.value.heading }}</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">×</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body">
            <div class="text-center">
              <img src="{{ project.value.image }}" alt="" />
              <hr />
              <p>{{ project.value.content }}</p>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer text-center">
            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal"
              >Затвори</a
            >
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
  </div>
</div>
