<!--suppress HtmlUnknownTarget -->
<div class="container-fluid">
  <form class="form" #categoryDetails="ngForm" (ngSubmit)="this.addPloughCategory(categoryDetails)">
    <div class="form-group">
      <label for="type">Тип </label>
      <select *ngIf="categories" [(ngModel)]="category" name="type" id="type" (change)="change($event.target.value)">
        <option *ngFor="let cat of categories">{{ cat }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="categoryName">Име на Категория</label>
      <input required name="name" ngModel class="form-control" type="text" id="categoryName" />
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      <textarea required name="description" ngModel rows="4" cols="50" class="form-control" id="description"></textarea>
    </div>
    <div class="form-control-plaintext">
      <label for="catImage">Снимка</label>
      <input
        required
        (change)="startUpload($event.target.files)"
        [disabled]="this.imgService.preventEdit"
        name="image"
        ngModel
        class="form-control-file"
        type="file"
        id="catImage"
      />
    </div>
    <div *ngIf="images">
      <div *ngFor="let image of images">
        <img class="img-thumbnail col-md-4" src="{{ image }}" alt="" />
      </div>
    </div>
    <button [disabled]="!categoryDetails.form.valid || this.imgService.preventEdit" class="btn btn-primary" type="submit">
      Запази
    </button>
  </form>
</div>
