<div class="container-fluid">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let product of homeProducts">
      <div class="view w-100">
        <img
          (contextmenu)="onRightClick($event)"
          class="d-block w-100"
          src="{{ product.image }}"
          alt="First slide"
        />
        <a
          (click)="navigate(product.href)"
          class="mask rgba-black-light waves-light"
          mdbWavesEffect
        ></a>
      </div>
      <div class="carousel-caption">
        <a routerLink="/product/{{ product.href.slice(29) }}"
          ><h3 class="h3-responsive">{{ product.heading }}</h3></a
        >
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
