<footer class="page-footer">
  <div class="container-fluid text-center pt-4">
    <div class="row d-md-flex flex-column flex-md-row justify-content-center">
      <div class="drop-shadow col-10 col-md-4 mx-auto left-container">
        <app-ralomex-logo class="drop-shadow"></app-ralomex-logo>
        <iframe
          class="col-10 mx-auto google-maps-iframe"
          src="https://www.google.com/maps/embed/v1/place?q=ralomex&key=AIzaSyBuGBz0snhiFJGAyp-TFx7Q47FWkibXNRU"
          [attr.height]="200"
          [attr.frameborder]="0"
          [attr.allowfullscreen]="true"
          [attr.scrolling]="0"
        ></iframe>
      </div>
      <div class="drop-shadow col-10 col-md-4 mx-auto middle-container my-4 mb-md-0 my-md-auto">
        <div class="transportation-wrapper">
          <div class="text-left d-flex">
            <div class="col-4 offset-md-1 text-center">
              <i class="display-4 fas fa-ship my-auto"></i>
            </div>
            <a class="my-auto" href="https://www.google.com/maps/search/ruse" target="_blank">River transport Ruse – 69 km.</a>
          </div>
          <hr />
          <div class="text-left d-flex">
            <div class="col-4 offset-md-1 text-center">
              <i class="display-4 fas fa-anchor my-auto"></i>
            </div>
            <a class="my-auto" href="https://www.google.com/maps/search/varna" target="_blank">Sea port Варна – 168 km</a>
          </div>
          <hr />
          <div class="text-left d-flex">
            <div class="col-4 offset-md-1 text-center d-flex">
              <i class="display-4 fas fa-subway m-auto"></i>
            </div>
            <ul class="list-unstyled text-left my-auto">
              <li><a href="https://www.google.com/maps/search/isperih" target="_blank">Исперих – 16 km</a></li>
              <li><a href="https://www.google.com/maps/search/razgrad" target="_blank">Разград – 36 km</a></li>
              <li><a href="https://www.google.com/maps/search/shumen" target="_blank">Шумен – 85 km</a></li>
              <li><a href="https://www.google.com/maps/search/ruse" target="_blank">Русе – 69 km</a></li>
              <li><a href="https://www.google.com/maps/search/varna" target="_blank">Варна – 168 km</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="drop-shadow col-10 col-md-4 mx-auto right-container my-auto">
        <div class="contacts d-flex flex-column mb-5">
          <a class="mb-1" href="https://goo.gl/maps/p1zB3fmtgRB2" target="_blank">
            <i class="fas fa-map-marker-alt mr-3"></i>
            ул. Освобождение 3 Завет 7330 България
          </a>
          <a class="mb-1" target="_blank" href="mailto:order@ralomex.com">
            <i class="fas fa-envelope mr-3"></i>
            order@ralomex.com
          </a>
          <a class="mb-1" href="tel:+359889385523">
            <i class="fas fa-phone mr-3"></i>
            +359889385523
          </a>
        </div>
        <ul class="list-unstyled social-links">
          <li>
            <a target="_blank" href="https://www.facebook.com/ralomex"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://plus.google.com/101566423806078497749"><i class="fab fa-google-plus-square"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/company/ralomex"><i class="fab fa-linkedin-square"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/ralomex"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/channel/UCENd1JKaD3an8kJHZhesL7g"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center p-1">
    <p class="m-0">© {{ currentYear | date: 'yyyy' }} Copyright: <a routerLink="/">Ralomex.com</a></p>
  </div>
</footer>
