@import '../../variables';

.page-footer {
  color: white;
  background-color: $primaryGreen;
  
  ::ng-deep app-ralomex-logo{
    svg.logo{
      margin-bottom: 24px;
    }
    svg.text{
      margin-bottom: -90px;
    }
  }

  .fas{
    font-weight: 900;
  }
  
  hr{
    margin: 5px;
  }
  
  
  a,a:visited,a.active{
    color: white;
  }
  
  .container-fluid {
    border-radius: 5px 5px 0 0;
    background-color: inherit;
  }
  .footer-copyright {
    background-color: inherit;
  }
  
  .left-container{
    
    .google-maps-iframe{
    
    }
  }

  div.right-container {
    ul.social-links {
      li {
        display: inline-block;
        text-align: center;
        font-size: 30px;

        a {
          color: white;
          font-size: 50px;
          margin: 10px;
          line-height: 0.5rem;

          &:hover {
            color: black;
          }
          
          i{
            font-size: 60px;
          }
        }
      }
    }
  }
}
