<footer class="page-footer">
  <div class="container-fluid text-center pt-4">
    <div class="row d-md-flex flex-column flex-md-row justify-content-center">
      <div class="drop-shadow col-10 col-md-4 mx-auto left-container">
        <app-ralomex-logo class="drop-shadow"></app-ralomex-logo>
        <iframe
          title="g-maps frame"
          class="col-12 mx-auto google-maps-iframe"
          rel="preload"
          as="document"
          src="https://www.google.com/maps/embed/v1/place?q=ralomex&key=AIzaSyBuGBz0snhiFJGAyp-TFx7Q47FWkibXNRU"
          [attr.height]="300"
          [attr.frameborder]="0"
          [attr.allowfullscreen]="true"
          [attr.scrolling]="0"
        ></iframe>
      </div>
      <div class="drop-shadow col-10 col-md-4 mx-auto middle-container my-4 mb-md-0 my-md-auto">
        <div class="transportation-wrapper">
          <div class="text-left d-flex">
            <div class="col-4 offset-md-1 text-center">
              <svg
                version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                width="63px"
                height="67px"
                viewBox="0 0 100.000000 100.000000"
                preserveAspectRatio="xMidYMid meet"
              >
                <g class="river_transport_svg" transform="translate(7.000000,100.000000),scale(0.0180000,-0.0200000)">
                  <path
                    d="M1153 4820 c-59 -12 -118 -45 -163 -90 -189 -189 -82 -517 182 -559
                    48 -8 153 1 166 13 3 3 21 -9 40 -26 57 -49 114 -70 183 -66 47 2 59 0 59 -12
                    1 -34 41 -101 72 -120 26 -17 45 -20 96 -18 56 4 66 8 98 39 83 83 52 228 -55
                    260 l-39 11 6 64 c6 78 -15 139 -65 195 -35 38 -120 79 -166 79 -17 0 -28 12
                    -46 50 -63 133 -222 211 -368 180z"
                  />
                  <path
                    d="M1672 3813 c-64 -31 -77 -63 -80 -200 l-4 -123 322 0 322 0 -3 118
                    c-4 113 -5 120 -33 156 -46 61 -69 66 -293 66 -162 0 -204 -3 -231 -17z"
                  />
                  <path
                    d="M1590 3186 l0 -164 -307 -4 c-359 -4 -301 13 -553 -158 -200 -136
                    -236 -168 -255 -234 -21 -71 -22 -976 -1 -976 24 0 363 118 499 174 170 70
                    359 158 852 399 427 208 641 303 877 388 l148 54 0 125 c0 106 -3 130 -20 157
                    -40 66 -46 68 -337 71 l-263 3 0 165 0 164 -320 0 -320 0 0 -164z"
                  />
                  <path
                    d="M4860 2909 c-815 -64 -1386 -171 -1978 -373 -329 -113 -570 -217
                    -1147 -501 -409 -201 -592 -285 -785 -360 -176 -68 -411 -145 -580 -190 -278
                    -73 -326 -100 -355 -198 -36 -122 1 -436 63 -537 37 -60 100 -106 164 -119 29
                    -7 1002 -86 2162 -176 l2109 -165 46 22 c54 28 81 74 81 140 0 43 -9 60 -112
                    215 -149 225 -148 209 -27 413 283 477 512 1072 599 1559 34 190 25 237 -46
                    267 -36 15 -38 15 -194 3z m-932 -726 c76 -61 80 -157 11 -226 l-39 -39 0
                    -249 c0 -137 2 -249 5 -249 3 0 23 9 44 20 71 36 131 127 131 199 0 25 17 62
                    34 73 19 13 64 9 80 -8 20 -20 21 -93 2 -155 -31 -101 -105 -185 -206 -233
                    -58 -28 -75 -31 -155 -31 -80 0 -97 3 -157 32 -118 56 -194 156 -219 286 -14
                    78 6 117 62 117 36 0 56 -26 68 -92 13 -71 29 -104 73 -144 29 -28 87 -64 103
                    -64 3 0 5 112 5 249 l0 250 -29 20 c-55 39 -78 130 -47 189 48 92 156 118 234
                    55z"
                  />
                </g>
              </svg>
            </div>
            <a class="my-auto text-capitalize" href="https://www.google.com/maps/search/ruse" target="_blank"
              >{{ 'river transport' | translate }} {{ 'ruse' | translate }} – 69 {{ 'km' | translate }}</a
            >
          </div>
          <hr />
          <div class="text-left d-flex">
            <div class="col-4 offset-md-1 text-center">
              <i class="display-4 fas fa-anchor my-auto"></i>
            </div>
            <a class="my-auto text-capitalize" href="https://www.google.com/maps/search/varna" target="_blank"
              >{{ 'sea port' | translate }} {{ 'varna' | translate }} – 168 {{ 'km' | translate }}</a
            >
          </div>
          <hr />
          <div class="text-left d-flex">
            <div class="col-4 offset-md-1 text-center d-flex">
              <i class="display-4 fas fa-subway m-auto"></i>
            </div>
            <ul class="list-unstyled text-left my-auto">
              <li>
                <a href="https://www.google.com/maps/search/isperih" class="text-capitalize" target="_blank"
                  >{{ 'isperih' | translate }} – 16 {{ 'km' | translate }}</a
                >
              </li>
              <li>
                <a href="https://www.google.com/maps/search/razgrad" class="text-capitalize" target="_blank"
                  >{{ 'razgrad' | translate }} – 36 {{ 'km' | translate }}</a
                >
              </li>
              <li>
                <a href="https://www.google.com/maps/search/shumen" class="text-capitalize" target="_blank"
                  >{{ 'shumen' | translate }} – 85 {{ 'km' | translate }}</a
                >
              </li>
              <li>
                <a href="https://www.google.com/maps/search/ruse" class="text-capitalize" target="_blank"
                  >{{ 'ruse' | translate }} – 69 {{ 'km' | translate }}</a
                >
              </li>
              <li>
                <a href="https://www.google.com/maps/search/varna" class="text-capitalize" target="_blank"
                  >{{ 'varna' | translate }} – 168 {{ 'km' | translate }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="drop-shadow col-10 col-md-4 mx-auto right-container my-auto">
        <div class="contacts ml-md-3 pb-5 pl-md-4 text-left d-flex flex-column mb-3 pl-sm-0 ml-sm-0">
          <a class="mb-1 text-capitalize" href="https://goo.gl/maps/p1zB3fmtgRB2" target="_blank">
            <i class="fas fa-map-marker-alt mr-3"></i>
            ул. Освобождение 3 {{ 'zavet' | translate }} 7330 {{ 'bulgaria' | translate }}
          </a>
          <a class="mb-1" target="_blank" href="mailto:order@ralomex.com">
            <i class="fas fa-envelope mr-3"></i>
            order@ralomex.com
          </a>
          <a class="mb-1" href="tel:+359889385523">
            <i class="fas fa-phone mr-3"></i>
            +359889385523
          </a>
        </div>
        <ul class="list-unstyled social-links text-center">
          <li class="p-2">
            <a target="_blank" href="https://www.facebook.com/ralomex"><i class="fab fa-facebook-square"></i></a>
          </li>
          <!--          <li>-->
          <!--            <a target="_blank" href="https://plus.google.com/101566423806078497749"><i class="fab fa-google-plus-square"></i></a>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <a target="_blank" href="https://www.linkedin.com/company/ralomex"><i class="fab fa-linkedin-square"></i></a>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <a target="_blank" href="https://twitter.com/ralomex"><i class="fab fa-twitter-square"></i></a>-->
          <!--          </li>-->
          <li class="p-2">
            <a target="_blank" href="https://www.youtube.com/channel/UCENd1JKaD3an8kJHZhesL7g"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center p-1">
    <p class="m-0">© {{ currentYear | date: 'yyyy' }} Copyright: <a routerLink="/">Ralomex.com</a></p>
  </div>
</footer>
